.pressComponents {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .pressData {
    height: 70vh;
  }
  
  .imageContainer {
    position: relative;
    width: 40vw;
    opacity: 0.7; /* Ajusta el nivel de opacidad según tus preferencias */
    transition: opacity 0.3s ease; 
  }
  
  .imagePress {
    width: 100%;
    opacity: 0.8; /* Ajusta el nivel de opacidad según tus preferencias */
    transition: opacity 0.3s ease; /* Agrega una transición para suavizar el cambio */
  }
  .imageContainer:hover{
    opacity: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease; /* Agrega una transición para suavizar el cambio */
  }
  
  .overlay:hover {
    opacity: 1;
  }
  
  .eventText {
    text-align: center;
    color: #fff; /* Color del texto */
    z-index: 1;
  }
  .title {
    font-size: x-large;
    margin-bottom: 2%;
}
.Header{
    font-size: large;
}
@media only screen and (max-width: 768px) {
    .pressComponents {
      flex-direction: column; /* Cambia la dirección de la fila a columna */
      align-items: stretch; /* Ajusta el alineado a lo largo del eje transversal */
    }
  
    .pressData {
      height: auto; /* Ajusta la altura automáticamente en dispositivos más pequeños */
    }
  
    .imageContainer {
      width: 100%;
    }
  
    .overlay {
      opacity: 1; /* Muestra el texto por defecto en dispositivos más pequeños */
      transition: none; /* Elimina la transición en dispositivos más pequeños */
    }
  
    .imagePress {
      opacity: 1; /* Muestra completamente la imagen en dispositivos más pequeños */
      transition: none; /* Elimina la transición en dispositivos más pequeños */
    }
  }

