.press {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background: var(--white, #FFF);
    margin: 2% 0 0 2%;
    min-width: 350px;
    max-width: 500px;
    margin-top: 10%;
    justify-content: center;
}

.pressCard {
    height: 500px;
}

.eventText {
    padding: 14% 6% 10% 15%;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    margin-top: -25%;

}
h4{
    font-size: 1.5rem;
}
/* p{
    margin-left: -15%;
    opacity: 0.8;
    font-size: 1.3rem;
} */

.imageCard {
    width: 100%;
    height: 45%;
    border-radius: 5% 5% 0 0;

}

.perfilImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2% 0 0 2%;
}