.aboutContentPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.aboutContent {
      
    color: #FFF;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    flex-direction: column;
   
    width: 507px;
}

.aboutImage {
    border-radius: 0.25rem;
    background: lightgray 50% / cover no-repeat;
    width: auto;
    height: 80vh;

}


.navItem.selected {
    color: #BF94FF;
}