.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px; /* En lugar de 'width', usa 'max-width' para que sea adaptable */
    width: 100%; /* Asegura que ocupe el ancho completo en pantallas más pequeñas */
    height: 100vh;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.carousel-inner {
    border-radius: 16px;
}




.livesets-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 500%;
}

/* Consulta de medios para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 600px) {
    .carousel-container {
        padding: 0 10px; /* Añade un espacio pequeño en los lados para evitar que los elementos se peguen al borde */
    }
}
