#app {
    height: 100vh; /* Ajusta la altura según tus necesidades */
}

.mySwiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10vh;
    margin-top: 10vh;
}

.mySwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
    width: 500px;
    height: 500px;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
}


