.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;

}


.contactAncor {

    text-decoration: underline !important; 
    font-size: 15rem;
    
}

.email{
    
    font-size: 5rem;
}

@media screen and (max-width: 600px) {
    .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactAncor {
        font-size: 10rem;
        
    } 
    .email{   
        font-size: 4rem;
    }
}
