.container {
    display: flex;
    justify-content: center;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  
  .button{
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 160px;
    margin: 20px;
    position: absolute;
  }
  .button button{
    height: 40px;
    width: 50px;
    border-radius: 20px;
    margin: 0 4px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  
  

 
  
  @media (max-width: 768px) {
    .main-card .cards  {
      margin-bottom: 10px;
      width: calc(100% / 2 - 10px);
    }
  }
  
  @media (max-width: 600px) {
    .main-card .cards  {
      width: 100%;
    }
  }
  