body {
    background: linear-gradient(358deg, #0029d0, #9800d0, #d000a3, #6000ff, #0ed789);
    background-size: 1000% 1000%;
    color: white;
    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
    overflow: hidden;
}

/* main{
  max-height: 80vh;
  margin: 2rem 4rem 0 4rem;
  overflow-y: scroll;
} */
@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* Color de fondo, puedes ajustarlo según tus necesidades */
  opacity: 0.4; /* Ajusta la opacidad según tus necesidades (0 totalmente transparente, 1 totalmente opaco) */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido principal */
}

/* h1{
  margin-top: 50vh;
} */

footer{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 0;
  width: 100vw;
  
}
a{
  text-decoration: none;
}

:root p{
  margin-left: unset;
  opacity: unset;

}