
body{
  background: url(../src/assets/img/giphy.gif) center/cover no-repeat;
}
h1{
  margin-top: 50vh;
}

.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 0;
  width: 100vw;
  
}

