
body{
  background: url(../src/assets/img/giphy.gif) center/cover no-repeat;
}
h1{
  margin-top: 50vh;
}

.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: inherit;
}

nav{
  position: absolute;
  bottom: 2rem;
}
ul{
  font-size: 3rem;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.route:hover{
  color: purple;
}

.active{
  color: purple;
}
