a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    color: #fff;
}

.menu > li {
    position: relative;
    font-size: 2rem;
    display: inline-block;
    margin: 20px;
}

.subMenu {
    display: none;
    position: absolute;
    bottom: 100%; 
    left: 0;
}

.subMenu li {
    display: block;
    margin-bottom: 10%;
    
}
.subMenu li:hover{
    color: #BF94FF;
}

.menu li:hover .subMenu {
    display: block;
}

.route:hover {
    color: #BF94FF;
}

.active {
    color: #BF94FF;
}