.navBarContainer{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.921), rgba(0, 0, 0, 0.279));
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -10px;
    
}

a {
    text-decoration: none;
    color: inherit;
    color: rgb(255, 255, 255);
}

li {
    list-style: none;
    color: #ffffff;
}

.menu > li {
    position: relative;
    font-size: 2rem;
    display: inline-block;
    margin: 20px;
}

.subMenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 100%; 
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-10px);
}

.subMenu li {
    display: block;
    margin-bottom: 10%;
    
}
.subMenu li:hover{
    color: #BF94FF;
}

.menu li:hover .subMenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.route:hover {
    color: #BF94FF;
}

.active {
    color: #BF94FF;
}
